@model IEnumerable<simplecrud.Models.Student>
<table class="table bg-dark text-white">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
       @foreach(var item in Model)
       {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Password)
                </td>
                <td>
                    <a class="btn btn-success" asp-controller="Home"  asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete"  asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>